@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700&display=swap");

/* Internal css modules */
@import "module.hero.css";
@import "module.second.css";
@import "module.about.css";
@import "module.subscribe.css";
@import "module.footer.css";

:root {
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

#minicircle {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -20px;
  z-index: 99999;
  border-radius: 50%;
  background-color: white;
}
/* to hide initial texts for animation */
.bounding {
  width: fit-content;
  /* background-color: tomato; */
  overflow: hidden;
}

.bounding .boundingelem {
  transform: translateY(100%);
}

#main {
  width: 100%;
  background-color: var(--black);
}
